.button {
    width: 25%;
    height: 3rem;
    font-size: 1rem;
    border: 0.5px solid grey;
    outline: none;
    background: rgba(211, 211, 211, 0.932);
}

.button:first-child {
    background: rgba(211, 211, 211, 0.329);
}

.button:nth-child(4n),
.button:nth-child(19) {
    background: green;
    color: white;
}

.button:nth-child(18) {
    width: 50%;
}

.button:hover {
    border: 2px solid #ff9300;
    border-radius: 5px;
}